<!DOCTYPE html>
<html>
<head>
	<title>title</title>
<style type="text/css">
table, td, th
  {
  border:1px solid #6d6da2;
  }

th
  {
  background-color:#6d6da2;
  color:white;
  }
</style>
</head>
<body>
<table>
	<tr>
		<th>SuiteName</th>
		<th>CaseNums</th>
		<th>Case PassNums</th>
		<th>Case faileNums</th>
		<th>Status</th>
	</tr>
	<tr>
		<td>SuiteName</td>
		<td>CaseNums</td>
		<td>Case PassNums</td>
		<td>Case faileNums</td>
		<td>Status</td>
	</tr>
</table>
</body>
</html>